@use '@/styles/breakpoints' as bp;

.section {
  padding-block: var(--space-section);
}

.item {
  grid-column: 2 / -1;

  @include bp.bp-up('768') {
    grid-column-start: 3;
    max-width: 630px;
  }

  @include bp.bp-up('1024') {
    grid-column-start: 4;
    max-width: 670px;
  }
}
