@use './reset';
@use './tokens';

html {
  height: 100%;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: var(--font-family);
  min-height: 100vh;
}

header {
  left: 0;
  padding: var(--space-sm);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

h1 {
  font-size: var(--text-h1-font-size);
  font-weight: var(--text-h1-font-weight);
  letter-spacing: var(--text-h1-letter-spacing);
  line-height: var(--text-h1-line-height);
}

h2 {
  font-size: var(--text-h2-font-size);
  font-weight: var(--text-h2-font-weight);
  letter-spacing: var(--text-h2-letter-spacing);
  line-height: var(--text-h2-line-height);
}

h3 {
  font-size: var(--text-h3-font-size);
  font-weight: var(--text-h3-font-weight);
  letter-spacing: var(--text-h3-letter-spacing);
  line-height: var(--text-h3-line-height);
}

h5 {
  font-size: var(--text-h5-font-size);
  font-weight: var(--text-h5-font-weight);
  letter-spacing: var(--text-h5-letter-spacing);
  line-height: var(--text-h5-line-height);
}
